body {
  background-color: black;
}
#main-div {
  text-align: center;
  width: 50%;
  margin-left : 25%;
  margin-top: 100px;
  color: white;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

#cristiano-ronaldo {
  width: 100%;
  border: 3px solid white;
}
